<VirtualHost {{ ansible_all_ipv4_addresses | list }}:80>
   ServerAdmin root@localhost
   DocumentRoot "/var/www/html"
   ServerName 4iglance.com
   ServerAlias www.4iglance.com
   ErrorLog "/var/log/httpd/4iglance_log"
{% if vhost.documentroot is defined %}
   <Directory "{{ vhost.documentroot }}">
{% if apache_vhosts_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
  </Directory>
{% endif %}
</VirtualHost>
