{# Testing loop using Jinja2 #}

Package have installed using ansible are:
{% for item in package %}
  {{ item }}
{% endfor %}

{#To check user #}
{% if user is defined %}
{{ user }} has been created.
{% else %}
Run another to create playbook
{% endif %}
